.button {
  color: inherit;
  display: block;
  align-items: center;
  border-radius: 0;
  border: 1px solid currentColor;
  background-color: transparent;
  padding: 0.9em 1.4em;
  text-decoration: inherit;
  font-weight: 600;
  max-width: fit-content;
  transition: transform 50ms ease-in-out;
  transform: scale(1);
  cursor: pointer;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}
